@mixin button($btn-bg-color,$btn-text-color,$btn-border-color,$btn-hover-bg-color,$btn-hover-text-color) {
    background-color: transparent;
    color: $btn-text-color;
    font-size: $fs-body-md;
    font-family: $fm-js-b;
    line-height: $lh-body-md;
    border: none;
    display: inline-block;
    padding: 18px 20px;
    position: relative;
    width: calc(100% - 20px);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s linear;

    @media only screen and (min-width: 768px) {
        max-width: 195px;
        width: 100%;
    }

    &::before,
    &::after {
        position: absolute;
        background-color: $btn-bg-color;
        content: '';
        right: 0;
        left: 0px;
        height: 30px;
        z-index: 9;
        border: 2px solid $btn-border-color;
        transition: background-color 0.2s linear;
    }

    &::before {
        top: -2px;
        transform: perspective(8px) rotateX(3deg);
        border-bottom: none; 
    }

    &::after {
        bottom: -3px;
        transform: perspective(8px) rotateX(-3deg);
        border-top: none; 
    }   

    &:hover {
        color: $btn-hover-text-color;
        
        &::before,
        &::after {
            background-color: $btn-hover-bg-color;
            border-color: $btn-hover-bg-color;
        }
    }
}

@mixin rgba($color, $alpha) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  $rgba: rgba($red, $green, $blue, $alpha);
  background-color: $rgba;
}


    
